{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone-style.css') }}">

<style type="text/css">
    /* Mimic table appearance */
    /*div.table {
      display: table;
    }
    div.table .file-row {
      display: table-row;
    }
    div.table .file-row > div {
      display: table-cell;
      vertical-align: top;
      border-top: 1px solid #ddd;
      padding: 8px;
    }
    div.table .file-row:nth-child(odd) {
      background: #f9f9f9;
    }*/

    /* Hide the progress bar when finished */
    #previews .file-row.dz-success .progress {
      opacity: 0;
      transition: opacity 0.3s linear;
    }

    /* Hide the delete button initially */
    #previews .file-row .delete {
      display: none;
    }

    /* Hide the start and cancel buttons and show the delete button */

    #previews .file-row.dz-success .start,
    #previews .file-row.dz-success .cancel {
      display: none;
    }
    #previews .file-row.dz-success .delete {
      display: block;
    }    


</style>
{% endblock %}

{% block page_content %}
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2>
                    <h1 class="brand-name">PDF Converter World</h1>
                    <br>

                    <!-- <form action="{{ url_for('main.upload') }}" method="POST" enctype="multipart/form-data">
                        <input type="file" name="file" />
                        <input type="submit"/>
                    </form>

                    <div class="progress" style="display: none;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                        </div>
                    </div> -->
                    <form action="{{ url_for('main.upload') }}" class="dropzone" id="my-awesome-dropzone"></form>

                    <!-- dropzone preview template -->
                    <div class="table table-striped" class="files" id="previews">

                      <div id="template" class="file-row">
                        <!-- This is used as the file preview template -->
                        <div>
                            <span class="preview"><img data-dz-thumbnail /></span>
                        </div>
                        <div>
                            <p class="name" data-dz-name></p>
                            <strong class="error text-danger" data-dz-errormessage></strong>
                        </div>
                        <div>
                            <p class="size" data-dz-size></p>
                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                              <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                            </div>
                        </div>
                        <div>
                          <button class="btn btn-primary start">
                              <i class="glyphicon glyphicon-upload"></i>
                              <span>Start</span>
                          </button>
                          <button data-dz-remove class="btn btn-warning cancel">
                              <i class="glyphicon glyphicon-ban-circle"></i>
                              <span>Cancel</span>
                          </button>
                          <button data-dz-remove class="btn btn-danger delete">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span>Delete</span>
                          </button>
                        </div>
                      </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
<script type="text/javascript">
    // $('form').on('submit', function (event) {
    //     // 显示进度条
    //     $('.progress').css('display', 'block');
    //     // 阻止元素发生默认的行为，此处用来阻止对表单的提交
    //     event.preventDefault();
    //     var formData = new FormData(this);
    //     // jQuery Ajax 上传文件，关键在于设置：processData 和 contentType
    //     $.ajax({
    //         xhr: function () {
    //             var xhr = new XMLHttpRequest();
    //             xhr.upload.addEventListener('progress', function (e) {
    //                 if (e.lengthComputable) {
    //                     var percent = Math.round(e.loaded * 100 / e.total);
    //                     $('.progress-bar').attr('aria-valuenow', percent).css('width', percent + '%').text(percent + '%');
    //                 }
    //             });
    //             return xhr;
    //         },
    //         type: 'POST',
    //         url: '/upload',
    //         cache: false,
    //         data: formData,
    //         // 告诉 jQuery 不要去处理发送的数据
    //         processData: false,
    //         // 告诉 jQuery 不要去设置 Content-Type 请求头
    //         // 因为这里是由 <form> 表单构造的 FormData 对象，且已经声明了属性 enctype="multipart/form-data"，所以设置为 false
    //         contentType: false
    //     }).done(function (res) {
    //         alert('上传成功!');
    //     }).fail(function (res) {
    //         alert('上传失败!');
    //     });
    // });

var previewNode = document.querySelector("#template");
previewNode.id = "";
var previewTemplate = previewNode.parentNode.innerHTML;
previewNode.parentNode.removeChild(previewNode);

Dropzone.options.myAwesomeDropzone = {
    maxFiles: 1,
    acceptedFiles: 'application/pdf',
    thumbnailWidth: 80,
    thumbnailHeight: 80,
    parallelUploads: 20,
    previewTemplate: previewTemplate,
    previewsContainer: "#previews",
    autoQueue: false,
    init: function() {
        this.on("addedfile", function(file) {
          // Hookup the start button

          // Capture the Dropzone instance as closure.
          var _this = this;  
          file.previewElement.querySelector(".start").onclick = function() { _this.enqueueFile(file); };
        });

        this.on("sending", function(file) {
          // And disable the start button
          file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");
        });

        this.on("error", function(file, msg) {
          // console.log(msg);
          file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");
        });

        this.on("success", function(file, response, e) {
          console.log(response);
          console.log(e);
          // file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");
        });
    },

};

// Dropzone.autoDiscover = false;

// var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
//   url: "/upload", // Set the url
//   thumbnailWidth: 80,
//   thumbnailHeight: 80,
//   parallelUploads: 20,
//   previewTemplate: previewTemplate,
//   autoQueue: false, // Make sure the files aren't queued until manually added
//   previewsContainer: "#previews", // Define the container to display the previews
//   clickable: "#my-awesome-dropzone", // Define the element that should be used as click trigger to select files.
//   dictDefaultMessage: "Drop files here to upload"
// });

// myDropzone.on("addedfile", function(file) {
//   // Hookup the start button
//   file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file); };
// });

// myDropzone.on("sending", function(file) {
//   // And disable the start button
//   file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");
// });

</script>
{% endblock %}